[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
yahoo-fin = "*"
requests = "*"
requests-html = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
